.formTitle {
	margin: 25px auto;
	width: fit-content;
}

.formContainer {
	margin: 0 auto;
	margin-top: 25px;
	width: 100%;
	max-width: 600px;
	border-radius: 10px;
	background-color: var(--card-bg-color);
	box-shadow: var(--shadow);
}

.topContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
}

.containerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}
