* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-bg-color: #0f172a;
	--text-color: #fff;
	--btn-bg-color: #383b3f;
	--btn-hover-bg: #222;
	--btn-text-color: #fff;
	--card-bg-color: #1e293b;

	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
}

body {
	background-color: var(--main-bg-color);
	color: var(--text-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--header-footer-bg: #e2e8f0;
		--main-bg-color: #eef2f7;
		--text-color: #23272f;
		--btn-bg-color: #0f766e;
		--btn-hover-bg: #222;
		--btn-text-color: #fff;
		--card-bg-color: #fff;
		--card-hover-bg: #f3f6fa;
		--color-green: #219679;
		--md-code-bg: #f3f4f6;
		--md-hr: #e5e7eb;
		--md-pre-bg: #f6f8fa;
		--border-color: rgba(0, 0, 0, 0.08);
		--shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
		--highlighted: rgba(0, 0, 0, 0.06);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--header-footer-bg: #111827;
		--main-bg-color: #0f172a;
		--text-color: #fff;
		--btn-bg-color: #383b3f;
		--btn-hover-bg: #4a4e54;
		--btn-text-color: #fff;
		--card-bg-color: #1e293b;
		--card-hover-bg: #273449;
		--border-color: rgba(255, 255, 255, 0.08);
		--color-green: #219679;
		--md-code-bg: rgba(255, 255, 255, 0.08);
		--md-pre-bg: #1e1e1e;
		--md-hr: rgba(255, 255, 255, 0.1);
		--shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
		--highlighted: rgba(255, 255, 255, 0.14);
	}
}

:root[data-theme='light'] {
	--header-footer-bg: #e2e8f0;
	--main-bg-color: #eef2f7;
	--text-color: #23272f;
	--btn-bg-color: #383b3f;
	--btn-hover-bg: #222;
	--btn-text-color: #fff;
	--card-bg-color: #fff;
	--card-hover-bg: #f3f6fa;
	--color-green: #219679;
	--md-hr: #e5e7eb;
	--md-code-bg: #f3f4f6;
	--md-pre-bg: #f6f8fa;
	--border-color: rgba(0, 0, 0, 0.08);
	--shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
	--highlighted: rgba(0, 0, 0, 0.06);
}

:root[data-theme='dark'] {
	--header-footer-bg: #111827;
	--main-bg-color: #0f172a;
	--text-color: #fff;
	--btn-bg-color: #383b3f;
	--btn-hover-bg: #4a4e54;
	--btn-text-color: #fff;
	--card-bg-color: #1e293b;
	--card-hover-bg: #273449;
	--color-green: #219679;
	--md-pre-bg: #1e1e1e;
	--md-code-bg: rgba(255, 255, 255, 0.08);
	--md-hr: rgba(255, 255, 255, 0.1);
	--border-color: rgba(255, 255, 255, 0.08);
	--shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
	--highlighted: rgba(255, 255, 255, 0.14);
}
