.card {
	width: 300px;
	height: 350px;
	border-radius: 10px;
	padding: 20px;
	background-color: var(--card-bg-color);
	color: var(--text-color);
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 15px;
	transition: all 0.25s ease;
}

.card button {
	align-self: end;
}

.card:hover {
	transform: translateY(-3px);
	background-color: var(--card-hover-bg); 
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.cardLabels {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.cardLabels img {
	width: 40px;
	height: 40px;
	object-fit: contain;
}

.leftSide {
	display: flex;
	gap: 10px;
}

.cardTitle {
	font-size: 24px;
	line-height: 28px;
}

.cardAnswers {
	margin-top: auto;
}

.cardParagraph {
	font-size: 14px;
	filter: blur(3px);
	font-style: italic;
	text-align: justify;
	transition: filter 0.3s ease-in-out;
}
.show {
	filter: blur(0);
}

.clickable {
	cursor: pointer;
}